<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689574214729-ssbtai6col2c4tpijj166072g8s0ihh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689574214729-ssbtai6col2c4tpijj166072g8s0ihh7</string>
	<key>API_KEY</key>
	<string>AIzaSyC867e4e9PFXfQ3hEpZklq-4AliRptlji0</string>
	<key>GCM_SENDER_ID</key>
	<string>689574214729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.suhailProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>swe444-suhail</string>
	<key>STORAGE_BUCKET</key>
	<string>swe444-suhail.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689574214729:ios:289180372c6768c9c11398</string>
</dict>
</plist>